
$primary-normal1: #06121e;
$primary-dark: #040f1a;
$primary-linght: #0c2135;

$secondary-normal: #090d11;
$secondary-dark: #161617;
$secondary-linght: #1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-linght: #353436;

$white-normal: #fff;
$white-dark: #edeaef;
$white-linght: #fefbff;

$red-normal: #d94140;
$red-dark: #b42b2b;
$red-linght: #d34040;

$blu-normal: #3b5998